<div class="container mt-5">
  <div class="row">

    <div class="col-md-12">
      <div class="card d-flex flex-row bg-success rounded border border-black" style="border: 0cap;">
        <img src="/assets/imgs/iconos/UTN.png" class="card-img-left" alt="UTN">
        <div class="card-body">
          <h5 class="card-title text-center text-white"><b>Parcial Final</b></h5>
          <hr class="bg-black">
          <p class="card-text text-center text-white"><b>UTN - INSPT</b></p>
          <p class="card-text text-center text-white"><b>Programación II</b></p>
          <p class="card-text text-center text-white"><b>Titular: Prof. Dr. Diego Corsi</b></p>
          <p class="card-text text-center text-white"><b>Alumno: Damián Agustin Baluja</b></p>
          <p class="card-text text-center text-white"><b>Año 2024</b></p>
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-3">

    <div class="col-md-6">
      <div class="card bg-success rounded border border-black">
        <div class="card-body">
          <h4 class="card-title text-center text-white"><b>Front End</b></h4>
          <hr class="bg-black">
          <ul class="list-group list-group-flush text-white text-center">
            <li class="list-group-item bg-transparent border-0 text-white"><img src="/assets/imgs/iconos/Bootstrap.png"
                                                                                alt="bootstrap"><b class="mx-1">Bootstrap 5.3.3</b>
            </li>
            <li class="list-group-item bg-transparent border-0 text-white"><img src="/assets/imgs/iconos/Angular.png"
                                                                                alt="angular"><b class="mx-1">Angular 18.2.5</b>
            </li>
            <li class="list-group-item bg-transparent border-0 text-white"><img src="/assets/imgs/iconos/Designer.png"
                                                                                alt="designer"><b class="mx-1">Microsoft
              Designer</b></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card bg-success rounded border border-black">
        <div class="card-body">
          <h4 class="card-title text-center text-white"><b>Back End</b></h4>
          <hr class="bg-black">
          <ul class="list-group list-group-flush text-white text-center">
            <li class="list-group-item bg-transparent border-0 text-white"><img src="/assets/imgs/iconos/Spring.png"
                                                                                alt="Spring"><b class="mx-2">Spring 3.3.4</b></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
