<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card bg-success border border border-black">
        <img src="/assets/imgs/restringido.jpeg" class="card-img-top" alt="Error403">
        <div class="card-body">
          <h5 class="card-title text-center text-white"><b>¡ACCESO DENEGADO!</b></h5>
          <p class="card-text text-center text-white"><b>Esta intentando acceder a una URL para la que no tiene permisos
            habilitados.</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
